= debug current_user
- if current_user
  %h2 
    Hello 
    %fb:name{:uid => current_user.identifier, :useyou => 'false'}
- else
  = link_to "Start", new_facebook_path 

%br/
= render 'search_tag_form'