#menu {
  display: table-cell;
  vertical-align: top;
  width: 15%;
  ul {
    list-style: none;
    padding: 0;
    li {
      padding: 0.5em;
      cursor: pointer;
    }
    li.selected {
      background-color: #F2F2F2;
        background-color: #6D84B4;
        color: white;
        border-bottom   : 1px solid #3B5998;
        border-top      : 1px solid #3B5998;
    }
  }
}

#content_wrapper {
  display: table-cell;
  vertical-align: top;
  border-left      : solid 1px #E2E2E2;
}

#wrap {
  display: table;
  width: 100%;
}

#content_2, #content_3 {
  display: none;
}

h2.title {
  > * {
    display: inline-block;
    vertical-align: middle;
  }
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  background-color: #F2F2F2;
  padding         : 4px 6px 5px;
  border-top      : solid 1px #E2E2E2;
  border-bottom   : solid 1px #E2E2E2;
  font-size       : 14px;
}

ul.list {
  list-style    : none;
  padding-left  : 1em;
  display       : table;
  border-spacing: 5px;
}

.tag_form {
  padding: 1em;
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

input {
  border    : 1px solid #AAA;
  box-shadow: none;
  padding   : 4px 6px 5px;
  font-size : 13px;
  margin    : 0;

}

.no_tag {
  border    : 1px solid #D8DFEA;
  background: #EDEFF4;
  padding   : 1em;
  font-size : 12px;
  display   : inline-block;
  width     : 15em;
  text-align: center;
}

.confirm_tag {
  font-size: 12px;
  display  : table-row !important;
  > * {
    display       : table-cell !important;
    vertical-align: middle !important;
  }
  a {
    max-width: none !important;
  }
  .tag_form {
    background: none;
  }
}

.fb_link {
  font-weight    : bold;
  color          : #3B5998;
  text-decoration: none;
}

.img_tag {
    height: 75px; 
    width: 75px; 
    background-repeat        : no-repeat;
    background-position      : 50% 50%;
    display                  : block;
    margin                   : auto;
    -webkit-background-size  : cover;
	-moz-background-size     : cover;
	-o-background-size       : cover;
    background-size          : cover;
}

#validate_tag, #not_validate_tag, ul.list {
  list-style    : none;
  padding-left  : 1em;
  display       : table;
  border-spacing: 5px;
  li {
    text-align    : center;
    display       : table-cell;
    vertical-align: top;
    > a {
      display        : inline-block;
      max-width      : 75px;
      margin         : 5px;
      font-size      : 11px;
      text-decoration: none;
      color          : #3B5998;

    }
    > a:hover {
      text-decoration: underline;
    }
  }
}

#query_and_result {
    position: relative;
    width: 156px;
}

#query_string {
    display: block;
    width: 142px;
}


ul#results {
    width             : 154px;
    position          : absolute;
    overflow          : auto;
    max-height        : 400px;
    margin-top        : 0;
    left              : 0;
    padding           : 0;
    background-color  : white;
    border            : 1px solid #AAA;
    border-top        : none;
    -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
    -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
    -o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
    box-shadow        : 0 4px 5px rgba(0,0,0,.15);
    z-index           : 999;
    visibility        : hidden;
    li {
        line-height     : 15px;
        padding         : 5px 6px;
        display         : block;
        color           : black;
        border-bottom   : 1px solid transparent;
        border-top      : 1px solid transparent;
    }
    li:hover {
        cursor          : pointer;
        background-color: #6D84B4;
        border-bottom   : 1px solid #3B5998;
        border-top      : 1px solid #3B5998;
    }
}

ul#results_for_people {
    padding: 0;
    li {
        border-right: 1px solid #E2E2E2;
    }
}

ul#results_for_people, ul#friends_you_might_like_results, ul#results_for_actors_people {
    li {
      display: table;
      border-bottom: 1px solid #E2E2E2;
      width: inherit;
    }
    li:first-child {
      border-top: 1px solid #E2E2E2;
    }
    .person {
        display: table-cell;
        vertical-align: top;
        background-color: #F2F2F2;
        border-right: 1px solid #E2E2E2;
        padding: 10px;
        width: 75px;
        > * {
          display: block;
          text-align: center;
        }
    }
}

.movies {
    padding: 10px;
    display: inline-block !important;
    border: none !important;
    .movie {
        border: none !important;
        display: inline-block !important;
        width: 85px !important
    }
}

#directors_chzn, #actors_chzn{
  width: 200px !important;
  > div {
    width: 198px !important;
  }
}

#movies_you_might_like_results img.gif {
  padding-left: 20px;
}

#movies_you_might_like_results .no_tag {
  margin-left: 20px;
}

#warning_box {
  margin-left: 1em;
  width: 30em;
}