input[type=text] {
    width : 20em;
}
ul.results {
    font-family : Helvetica, Arial; 
    font-size   :1.2em;
    list-style  : none;
    width       : 15em;
    position    : absolute;
    margin-left : -1em;
    li {
        display         : block;
        color           : black;
        background-color: lightgrey;
        padding-top     : 0.3em;
        padding-bottom  : 0.3em;
        padding-left    : 1.3em;
        padding-right   : 1.3em;
    }
    li:hover {
        cursor          : pointer;
        color           : white;
        background-color: gray; 
    }
}


.ilb {
    display: inline-block;
}
